@using Bono.ToDo.Infrastructure.Resources
@model IEnumerable<Bono.ToDo.Web.Razor.Models.TaskViewModel>


@{
    ViewBag.Title = Resources.MyTasks;
}

@section HeadCss{

    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-bs4/css/dataTables.bootstrap4.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css")">

}

@*<h2>@Resources.MyTasks</h2>*@
<p style="float: right">
    <a href="@Url.Action("Create", "TaskToDo")" class="btn btn-success btn-sm">
        <i class="fa fa-plus-circle"></i> @Resources.CreateNew
    </a>
</p>
<br style="clear:both" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.HomeTown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.HomeTown)
                </td>
                <td>
                    @if (item.IsDone)
                    {
                        <div style="color: darkseagreen; font-weight: bold">@Resources.Yes</div>
                    }
                    else
                    {
                        <div style="color: indianred; font-weight: bold">@Resources.No</div>
                    }
                </td>
                <td style="width: 25%; text-align: center">

                    @if (ViewBag.UserId == item.User.Id || User.IsInRole("Admin"))
                    {
                        @Html.Raw(Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-outline-success btn-sm" })) <input id="btnDelete" type="button" value="@Resources.Delete" TaskId="@item.Id" class="btn btn-outline-danger btn-sm" />
                    }
                    else
                    {

                        @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <!-- DataTables  & Plugins -->
    <script src="@Url.Content("~/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.table').dataTable( {
                @*"language": {
                    "url": "@String.Format("/scripts/datatables.extensions/i18n/datatable.{0}.js", Bono.ToDo.Web.CustomRouteConfig.Culture.CultureHelper.GetCurrentNeutralCulture())"
                }*@
            });
        });

        $("#btnDelete").click(function () {

            var Id = $(this).attr("TaskId");
            ShowAlertDelete("Tem certeza que dezeja excluir esse registro? <br>Isso vai excluir toda as tarefas associada a esse registro.", "Task", Id);

        });

    </script>

}